div(ng-init="lead.getLead()")
	div(ng-show="!lead.editing")
		p.pull-right 
			a.btn.btn-primary(ng-click="lead.edit()") Edit Lead
		h2
			span(ng-bind="lead.data.name")
		p 
			span Date: 
			span(ng-bind="lead.data.start | moment: 'MMMM D, YYYY'")
		p 
			span Time: 
			span(ng-bind="lead.data.start | moment:'h:mma'")
		p 
			span # of Guests: 
			span(ng-bind="lead.data.guests")
		p
			span Location: 
			a(ui-sref="location({id: lead.data.location.id})" ng-bind="lead.data.location.name")

	div(ng-show="lead.editing")
		h2(ng-bind="'Editing ' + lead.form.name")
		form.form-lead(ng-submit="lead.save()" ng-if="!lead.submitted")
			input.form-control(type="text", name="leadName" ng-model="lead.form.name", placeholder="Lead Name" ng-required="true")
			input.form-control(type="number", name="guests" ng-model="lead.form.guests", placeholder="# of Guests")
			.input-group
				input.form-control(ng-model="lead.form.start"
					datetime-picker="dd MMM yyyy HH:mm"
					is-open="lead.startOpened"
					default-time="1:00 pm"
					ng-required="true"
					close-text="Close"
					placeholder="Start")
				span.input-group-btn
					button.btn.btn-default(type="button" ng-click="lead.startOpen()")
						i.glyphicon.glyphicon-calendar

			p
				span Location: 
				div.btn-group(uib-dropdown is-open="lead.locations.isopen" auto-close="outsideClick")
					button.btn.btn-default.dropdown-toggle(uib-dropdown-toggle ng-bind="lead.locations[lead.form.locationId - 1].name + ' '")
						span.caret
					ul.checklist(uib-dropdown-menu role="menu")
						li(ng-repeat="location in lead.locations | orderBy: 'name'" role="menuitem")
							label  
								input(type="radio" ng-model="lead.form.locationId" ng-value="location.id")
								|  {{location.name}}

			input(type="hidden" ng-model="lead.form.id")
			button.btn.btn-large.btn-primary(type="submit") Submit
			|  
			button.btn.btn-large.btn-default(type="button" ng-click="lead.editing = false") Cancel