.pull-right.form-inline
	.input-group
		input.form-control(ng-model="bookings.filters.date.min"
			style="max-width: 100px;"
			type="text"
			uib-datepicker-popup="{{bookings.dateformat}}"
			is-open="bookings.calMin.opened"
			max-date="bookings.filters.date.max || ''"
			datepicker-options="bookings.dateOptions"
			ng-required="true"
			close-text="Close"
			placeholder="Min Date")
		span.input-group-btn
			button.btn.btn-default(type="button" ng-click="bookings.openMin()")
				i.glyphicon.glyphicon-calendar
	| 
	.input-group
		input.form-control(ng-model="bookings.filters.date.max"
			style="max-width: 100px;"
			type="text"
			uib-datepicker-popup="{{bookings.dateformat}}"
			is-open="bookings.calMax.opened"
			min-date="bookings.filters.date.min || ''"
			datepicker-options="bookings.dateOptions"
			ng-required="true"
			close-text="Close"
			placeholder="Max Date")
		span.input-group-btn
			button.btn.btn-default(type="button" ng-click="bookings.openMax()")
				i.glyphicon.glyphicon-calendar
	| 
	input.form-control(type="text"
		onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
		ng-model="bookings.filters.guests.min"
		style="max-width: 102px;"
		placeholder="Min Guests")
	|  
	input.form-control(type="text"
		onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
		ng-model="bookings.filters.guests.max"
		style="max-width: 102px;"
		placeholder="Max Guests")
	|  
	button.btn.btn-default(ng-click="bookings.clearFilters()") Clear
	|  
	button.btn.btn-primary(ng-click="bookings.getLeads(bookings.filters)") Filter

h2 Bookings
div(ng-init="bookings.getBookings()")
	div(ng-repeat="booking in bookings.data")
		a(data-ui-sref="booking({ id: booking.id })")
			div.pull-right(ng-bind="booking.start | moment: 'MMMM D, YYYY'")
			h3
				span(ng-bind="booking.name")
				span(class="badge color-{{booking.status}}"
					ng-bind="booking.status")