div(ng-init="booking.getBooking()")
	div(ng-show="!booking.editing")
		p.pull-right 
			a.btn.btn-primary(ng-click="booking.edit()") Edit Booking
		h2
			span(ng-bind="booking.data.name")
			span(class="badge color-{{booking.data.status}}"
				ng-bind="booking.data.status")
		p 
			span Date: 
			span(ng-bind="booking.data.start | moment: 'MMMM D, YYYY'")
		p 
			span Time: 
			span(ng-bind="booking.data.start | moment:'h:mma'")
			|  &ndash; 
			span(ng-bind="booking.data.end | moment:'h:mma'")
		p 
			span # of Guests: 
			span(ng-bind="booking.data.guests")
		p
			span Location: 
			a(ui-sref="location({id: booking.data.location.id})" ng-bind="booking.data.location.name")

	div(ng-show="booking.editing")
		h2(ng-bind="'Editing ' + booking.form.name")
		form.form-booking(ng-submit="booking.save()" ng-if="!booking.submitted")
			input.form-control(type="text", name="bookingName" ng-model="booking.form.name", placeholder="Booking Name" ng-required="true")
			input.form-control(type="number", name="guests" ng-model="booking.form.guests", placeholder="# of Guests")
			.input-group
				input.form-control(ng-model="booking.form.start"
					datetime-picker="dd MMM yyyy HH:mm"
					is-open="booking.startOpened"
					default-time="1:00 pm"
					ng-required="true"
					close-text="Close"
					placeholder="Start")
				span.input-group-btn
					button.btn.btn-default(type="button" ng-click="booking.startOpen()")
						i.glyphicon.glyphicon-calendar
			.input-group
				input.form-control(ng-model="booking.form.end"
					datetime-picker="dd MMM yyyy HH:mm"
					is-open="booking.endOpened"
					default-date="{{booking.form.start | moment:'YYYY-MM-DD'}}"
					default-time="{{booking.form.start | moment:'HH:mm a'}}"
					close-text="Close"
					placeholder="End")
				span.input-group-btn
					button.btn.btn-default(type="button" ng-click="booking.endOpen()")
						i.glyphicon.glyphicon-calendar

			p
				span Location: 
				div.btn-group(uib-dropdown is-open="booking.locations.isopen" auto-close="outsideClick")
					button.btn.btn-default.dropdown-toggle(uib-dropdown-toggle ng-bind="booking.locations[booking.form.locationId - 1].name + ' '")
						span.caret
					ul.checklist(uib-dropdown-menu role="menu")
						li(ng-repeat="location in booking.locations | orderBy: 'name'" role="menuitem")
							label  
								input(type="radio" ng-model="booking.form.locationId" ng-value="location.id")
								|  {{location.name}}
			p
				span Status: 
				div.btn-group(uib-dropdown is-open="booking.statuses.isopen" auto-close="outsideClick")
					button.btn.btn-default.dropdown-toggle(uib-dropdown-toggle) {{booking.form.status ? booking.form.status : 'Status'}} 
						span.caret
					ul.checklist(uib-dropdown-menu role="menu")
						li(ng-repeat="status in booking.statuses" role="menuitem")
							label  
								input(type="radio" ng-model="booking.form.status" ng-value="status")
								|  {{status}}

			input(type="hidden" ng-model="booking.form.id")
			button.btn.btn-large.btn-primary(type="submit") Submit
			|  
			button.btn.btn-large.btn-default(type="button" ng-click="booking.editing = false") Cancel